# Python
__pycache__/
*.py[cod]
*$py.class

/etc/odoo.conf
etc/

# Odoo
custom_modules/backend_theme/

# Docker
# docker-compose.yml
# Dockerfile

# OS
.DS_Store
Thumbs.db 
.history

DB-pass_admin.txt
loyalaDB*
.history
